<section class="dashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="dashboard-box card ">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-4 col-md-3">
                                <div class="icon-big text-center icon-warning">
                                    <i class="fa fa-globe text-warning"></i>
                                </div>
                            </div>
                            <div class="col-8 col-md-9">
                                <div class="numbers">
                                    <p class="card-category">Total Clients</p>
                                    <p class="card-title">6 </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>